@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    /* background-color: rgb(34, 31, 31); */
    background-color: black;
    font-family: 'Roboto',sans-serif;
}

.main-body {
    background-color: #ffb7a1;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 35px;
    width: 480px;
    height: 480px;
    margin: auto;
    margin-top: 40px;
    padding: 20px 15px;
    box-shadow: 0px 0px 20px 5px rgb(248, 113, 23);
}



.operation{
    background-color: #F95738;
    font-weight: 700;
}

.ca,
.delete,
.equals{
    background-color: #F4D35E;
    font-weight: 700;
}


.display-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dbdbdb;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    height: 480px;
    box-shadow: inset 0px 0px 120px #ffb171,
                inset 0px 0px 120px #ffb171;
}
/* rgba(96, 205, 219, 0.781) */
.expression {
    margin: 5px;
    font-size: 25px;
}

.answer{
    display: flex;
    align-self: flex-end;
    margin: 5px;
    font-size: 25px;
}

.button-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    gap: 20px;
}

.row > *{
    border: 2px solid transparent;
    color: whitesmoke;
    flex: 1;
    border-radius: 15%;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.digit {
    background-color: #EE964B;
}
.decimal{
    background-color: #EE964B;
}
.equals {
    flex: 2;
}

.digit:active {
    background-color: white;
    color: black;
    scale: 0.8;
    transition: 10ms linear 1ms;
}

.operation:active {
    background-color: white;
    scale: 0.8;
    transition: 10ms linear 1ms;
}
.side-operation:active {
    background-color: white;
    scale: 0.8;
    transition: 10ms linear 1ms;
}
.decimal:active{
    background-color: cornflowerblue;
    scale: 0.8;
    transition: 10ms linear 1ms;
}
button:hover {
    color: black;
}
/* 
create an inward glow for the calc's display

*/